$main-background: #fff;
$main-gradient: linear-gradient(90deg, #4c9af5 0%, #5640df 50.52%, #9937bc 80.73%);
$text-hover: #99a3ff;
$main-shadow: rgba(0, 0, 0, 0.25);
$filter-color: rgba(0, 0, 0, 0.35);
$main-text-color: #333333;
$container-width: 1366px;
